$black30: var(--black30);
$black50: var(--black50);
$border: var(--border);
$border-radius: var(--border-radius);
$shadow: var(--shadow);
$padding: 1rem;

.card {
  list-style: none;
  background: white;
  border: $border $black30;
  border-radius: $border-radius;
  box-shadow: $shadow $black30;
  margin-bottom: $padding;

  display: grid;
  grid-template-columns: 25vw auto 25vw;
  grid-template-rows: 80px 0 auto;
  grid-column-gap: $padding;
  grid-row-gap: $padding;
  padding: $padding;
  grid-template-areas: "img info progress"
                       "details details details"
                       "expand expand expand";

  &.expand {
    grid-template-rows: 80px auto auto;
  }

  .img {
    grid-area: img;
    border: $border $black30;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .8rem;

    h3 {
      font-size: 5vw;
    }
  }

  .progress {
    grid-area: progress;
    display: grid;
    place-content: center;
    font-size: 2rem;
  }

  .details {
    grid-area: details;
    width: 100%;
    display: none;
    margin-top: .5rem;

    &.expand {
      display: block;
    }

    p {
      display: flex;
      justify-content: space-between;
      margin-bottom: $padding;
    }

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;

      button {
        width: 45%;
        height: 30px;
        border: $border $black30;
        background: transparent;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        svg {
          font-size: 1.1rem;
        }

        span {
          width: 40%;
          text-align: center;
        }
      }

      [data-name='range'] {
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        button {
          border: none;
          width: 15%;

          svg {
            width: 80%;
            height: 80%;
          }
        }

        button:nth-of-type(1) {
          color: green;
        }

        button:nth-of-type(2) {
          color: red;
        }

        input[type='range'] {
          width: 60%;
        }
      }

    }
  }

  .toggle {
    grid-area: expand;
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    position: relative;
    outline: none;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: $black30;
      position: absolute;
      left: 0;
      top: -1rem;
    }
  }
}