$black30: var(--black30);
$black50: var(--black50);
$border: var(--border);
$border-radius: var(--border-radius);
$shadow: var(--shadow);
$padding: 1rem;
$blue: var(--blue);
$orange: var(--orange);
$green: var(--green);

.card {
  list-style: none;
  background: white;
  border: $border $black30;
  border-radius: $border-radius;
  box-shadow: $shadow $black30;
  margin-bottom: $padding;

  display: grid;
  grid-template-columns: 25% auto 20%;
  grid-template-rows: 80px 0 auto;
  grid-column-gap: $padding;
  grid-row-gap: $padding;
  padding: $padding;
  grid-template-areas: "img info progress"
                       "details details details"
                       "expand expand expand";

  &.expand {
    grid-template-rows: 80px auto auto;
  }

  .img {
    grid-area: img;
    border: $border $black30;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .8rem;

    h3 {
      font-size: 1.2rem;
    }
  }

  .progress {
    grid-area: progress;
    position: relative;

    svg {
      width: 100%;
      height: 100%;

      [data-circle='top'] {
        stroke-dasharray: 283 283;
        stroke-dashoffset: 283;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        stroke-linecap: round;
      }

      [data-circle='bottom'] {
        stroke: $black30;
      }
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      &::after {
        content: '%';
        font-size: .8rem
      }
    }
  }

  .details {
    grid-area: details;
    width: 100%;
    display: none;
    margin-top: .5rem;

    &.expand {
      display: block;
    }

    p {
      display: flex;
      justify-content: space-between;
      margin-bottom: $padding;
    }

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;

      button {
        width: 45%;
        height: 30px;
        border: $border $black30;
        background: transparent;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        svg {
          font-size: 1.1rem;
        }

        span {
          width: 60%;
          text-align: center;
        }
      }

      [data-name='range'] {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        button {
          width: 15%;
          display: flex;
          justify-content: space-evenly;
          padding: 0 5px;

          span {
            width: 50%;
            display: block;
          }

          svg {
            width: 80%;
            height: 80%;
          }
        }

        button:nth-of-type(1) {
          color: green;
        }

        button:nth-of-type(2) {
          color: red;
        }

        input[type='range'] {
          width: 60%;
        }
      }

    }
  }

  .toggle {
    grid-area: expand;
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    position: relative;
    outline: none;
    font-size: 2vw;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: $black30;
      position: absolute;
      left: 0;
      top: -1rem;
    }
  }

  [data-status='paused'] {
    color: $orange;
    stroke: $orange;
  }

  [data-status='active'] {
    color: $green;
    stroke: $green;
  }
}