$padding: var(--padding);
$black30: var(--black30);
$black50: var(--black50);
$border: var(--border);
$blue: var(--blue);

.sort {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $padding;

  button:not(.toggle) {
    min-width: 20%;
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      width: 10%;
      height: 100%;
      position: absolute;
      right: 10%;
    }

    &[data-active='true']::after {
      background: green
    }

    &[data-arrow='up']::after {
      clip-path: polygon(50% 30%, 0 50%, 100% 50%);
    }

    &[data-arrow='down']::after {
      clip-path: polygon(50% 70%, 0 50%, 100% 50%);
    }
  }

  button {
    background: none;
    appearance: none;
    border: $border $black30;

    svg {
      color: $blue;
    }
  }

  .toggle {
    height: 30px;
    width: 30px;
    border: none;

    svg {
      width: 100%;
      height: 100%;
      color: $black50;
    }
  }
}
